@font-face {
  font-family: 'BebasNeue-book';
  src: url('BebasNeue-Book.ttf') format("truetype");
}

a {
  color: #999;
  text-decoration: none;
}

body {
  font-family: 'BebasNeue-book', sans-serif;
  margin: 3rem;
  font-size: 8rem;
  color: #555;
}

h2 {
  margin-left: 47rem;
}

p {
  margin-left: 47rem;
  font: 2rem / 1.5 'noto sans', sans-serif;
  color: #555;
}

img {
  text-align: center;
  margin: 0 auto;
}

.leftaline {
  float: right;
}

.highlight {
  background-color: #eee;
}

#titleasbody{
  font-family: 'BebasNeue-book', sans-serif;
  text-align: left;
  font-size: 8rem;
  color: #555;
  text-shadow: 0rem 0rem 1rem #555;
}

#blacktext {
  color: #000;
}
