@font-face {
  font-family: 'BebasNeue-book';
  src: url('BebasNeue-Book.ttf') format("truetype");
}

a{
  color: #000;
  text-decoration: none;
}

body{
  font-family: 'BebasNeue-book', sans-serif;
  margin: 3rem;
  font-size: 8rem;
  color: #555
}

h2{
  margin-left: 47rem;
}

p{
  margin-left: 47rem;
  color: #000;
  text-shadow: .1rem .1rem 1rem;
}
